/* src/pages/Prescriptions.css */
.prescriptions-dashboard {
    padding: 20px;
}

.request-button-container {
    margin-bottom: 20px;
}

.request-medication-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
}

.request-medication-button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
}

.add-button, .cancel-button {
    padding: 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
}

.cancel-button {
    background-color: #f44336; /* Red */
}

.add-button:hover {
    background-color: #45a049;
}

.cancel-button:hover {
    background-color: #e53935;
}
